<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Se vuoi mantenere le sorgenti di sistema togli il <clear />-->
        <!--<clear />--> 
        <!-- Preferisci HTTPS se possibile -->
        <add key="Baget" value="http://nuget.aepserver.it/v3/index.json" allowInsecureConnections="true" />
        <!--<add key="NuGetGallery" value="https://api.nuget.org/v3/index.json" />-->
    </packageSources>

    <!--
        Esempio di come dichiarare credenziali (NON lasciare password in chiaro in repo)
        Usare token oppure usare gli strumenti del client per aggiungere la sorgente protetta
    <packageSourceCredentials>
        <Baget>
            <add key="Username" value="__USERNAME__" />
            <add key="ClearTextPassword" value="__TOKEN_O_PASSWORD__" />
        </Baget>
    </packageSourceCredentials> -->

    <!-- Opzionale: limitare quali pacchetti vengono risolti da quale sorgente -->
    <packageSourceMapping>
        <packageSource key="Baget">
            <package pattern="TinyAppEngine*" /><!-- Tutti i pacchetti che iniziano con TinyAppEngine -->
            <!--<package pattern="Contoso.*" />-->
        </packageSource>
        <!--<packageSource key="NuGetGallery">
            <package pattern="*" />
        </packageSource>-->
    </packageSourceMapping>

    <!-- Altre impostazioni utili -->
    <config>
        <!-- esempio: personalizzare la cartella dei pacchetti (opzionale) -->
        <!-- <add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" /> -->
    </config>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Baget" value="http://nuget.aepserver.it/v3/index.json" allowInsecureConnections="true" />
        <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
</configuration>-->